.stayBot{
    position: fixed;
    padding: 0px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 37px;
    background: white;
}

.footerp1{
    float: left;
    padding-left: 70px;
    font-size: 14px;
}

.footerp2{
    float: right;
    padding-right: 143px;
    font-size: 14px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

