.stayBot{
    z-index: 99;
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 37px;
    background: white;
}

.footerp1{
    float: left;
    padding-left: 4%;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

